<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Search Engine Google -->
    <add key="Google.Url" value="https://www.googleapis.com/customsearch/v1?key={ApiKey}&amp;cx={ContextId}&amp;q={searchPhrase}" />
    <add key="Google.ApiKey" value="GOOGLE_API_KEY" />
    <add key="Google.ContextId" value="GOOGLE_CONTEXT_ID" />

    <!-- Search Engine Bing -->
    <add key="Bing.Url" value="https://api.cognitive.microsoft.com/bingcustomsearch/v7.0/search?q={searchPhrase}&amp;customconfig={customId}" />
    <add key="Bing.ApiKey" value="BING_API_KEY" />
    <add key="Bing.CustomId" value="BING_CUSTOM_ID"/>
  </appSettings>
</configuration>