<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Search Engine Google -->
    <add key="Google.Url" value="https://www.googleapis.com/customsearch/v1?key={ApiKey}&amp;cx={ContextId}&amp;q={searchPhrase}" />
    <add key="Google.ApiKey" value="AIzaSyAZWKGgT87zo0z-upamPfL2bY1YDWRiafQ" />
    <add key="Google.ContextId" value="f9bd11bca6692b14b" />

    <!-- Search Engine Bing -->
    <add key="Bing.Url" value="https://api.cognitive.microsoft.com/bingcustomsearch/v7.0/search?q={searchPhrase}&amp;customconfig={customId}" />
    <add key="Bing.ApiKey" value="26a1d5b6cb5d4a87ad87287e9c1ab049" />
    <add key="Bing.CustomId" value="ed0ec577-d5b7-4ab6-9fe4-6c117411a3c3"/>
  </appSettings>
</configuration>